nav {
  a {
    color: #fff !important;
  }
}
.fa-user-circle, .fa-sign-out-alt, .fa-table , .fa-envelope{
  font-size: 24px;
}
.date_time {
  input {
    border-bottom: 1px solid black;
  }
}
aside {
  a {
    color: inherit;
    text-decoration: none;
  }
}
.not-found {
  text-align: center;
  padding: 50px;
}
.v-dialog {
  overflow: visible !important;
}
.calendar_wrapper {
  overflow-y: scroll;
}
.fc-disabled-day {
  background: red !important;

}
.active {
  color: #5c6bc0!important;
}