nav {
  a {
    color: #fff !important;
  }
}
.fa-user-circle, .fa-sign-out-alt, .fa-table , .fa-envelope{
  font-size: 24px;
}
.date_time {
  input {
    border-bottom: 1px solid black;
  }
}
aside {
  a {
    color: inherit;
    text-decoration: none;
  }
}
.not-found {
  text-align: center;
  padding: 50px;
}
.v-dialog {
  overflow: visible !important;
}
.calendar_wrapper {
  overflow-y: scroll;
}
.calendar_container {
  background:  #5c6bc0;
  & > div {
    background: white;
    padding: 10px;
  }

}
.fc-disabled-day {
  background: red !important;

}
.active {
  color: white;
  background: #5c6bc0 !important;
}
.employee_wrapper {
  padding-right: 0 !important;
  padding-top: 0 !important;
}